newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: 'YOUR_LICENSE_KEY_HERE'
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  # verbose: 1
#
# Agent Configuration:
#
agents:
  beanstalkd:
    -
      # optional server name, defaults to 'Beanstalkd'
      # name: 
      # optional host name, defaults to 'localhost'
      # host: "localhost"
      # port is optional and defaults to 11300
      # port: 11300
